.modal {
    display: none;
    position: fixed;
    top: 30px;
    align-self: center;
    width: 600px;
    height: 600px;
    justify-content: center;
    align-items: center;
  }
  
  .modal.open {
    display: flex;
  }
  
  
  .modal-content {
    background-color: rgba(255, 255, 255, 1); /* Set an opaque white background */
    padding: 20px;
    border-radius: 8px;
    max-width: 80%;
    overflow-y: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
    outline: 2px solid chartreuse; /* Outline effect */
  }
  
  .modal-content h2 {
    margin-top: 0;
  }
  
  .modal-content button {
    padding: 8px 16px;
    margin-top: 16px;
    border: none;
    background-color: #3f51b5;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal-content button:hover {
    background-color: #303f9f;
  }
  